.content {
  width: 100vw;
  height: 100vh;
  background-image: url(../../static/image/login_bgi.jpg);
  background-size: contain;

  .logo {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 14vh;
    z-index: 10;
  }

  .login-form {
    position: absolute;
    width: 80vw;
    height: 34vh;
    background-color: #f6f8fa;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20vh;
    border-radius: 20px;
    opacity: 0.9;

    .form-form {
      margin-top: 6vh;
      width: 100%;
      position: absolute;

      .at-input {
        background: none;

        .at-input__title {
          width: auto;
          font-size: 28px;
        }

        .at-input__input {
          font-size: 28px;
        }
      }

      .at-button {
        width: 90%;
        height: 4vh;
        margin: 2vh auto;
        font-size: 30px;
        font-weight: bold;
      }

      .form-footer {
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 1vh;
        font-size: 30px;
        font-weight: bold;
        color: #66B1FF;
      }
    }
  }
}
